LE-LengMarcas/Tareas/Tarea4/LMSGI04/fernandez_caballero_manuel.xsd.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="impresoras">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="impresora" maxOccurs="unbounded"> <!--En cada fichero hay datos para una o más impresoras.-->
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="marca" type="xs:string"/>
                            <xs:element name="modelo" type="xs:string"/>
                            <xs:element name="peso">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="0"/> <!--El peso es un número positivo-->
                                        <xs:fractionDigits value="2"/> <!-- y no puede tener más de dos decimales.-->
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tamaño" type="xs:string" maxOccurs="unbounded"/> <!-- Puede haber más de un tamaño.-->
                            <xs:element name="cartucho">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="C-[0-9]{3}[A-Z]{1,2}"/> <!-- El cartucho está formado por una C mayúscula, un guión, tres números y una o dos letras mayúsculas.-->
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="enred" minOccurs="0"/><!-- El elemento enred es opcional. De estar presente, es un elemento vacío..-->
                        </xs:sequence>
                        <xs:attribute name="numSerie" type="xs:string" use="required"/>  <!-- El atributo numSerie es obligatorio y hace de identificador.-->
                        <xs:attribute name="tipo" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string"> <!-- El atributo tipo sólo puede tomar los valores ‘matricial’, ‘láser’ y ‘tinta’. Es obligatorio.-->
                                    <xs:enumeration value="matricial"/> 
                                    <xs:enumeration value="láser"/>
                                    <xs:enumeration value="tinta"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="compra" type="xs:positiveInteger" use="optional"/> <!--  El atributo compra, opcional, guarda el año de compra. Es un número entero positivo.-->
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>